*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cards{
    display: flex;
}
#cards > div{
    display: grid;
    text-align: center;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#cards > div > input, #cards > div > button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#addCard, #createForm > input, #createForm > button{
    padding: 5px;
    margin: 10px; 
    border: 1px solid black;
    border-radius: 5px;
}
