*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cards > div{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#addCard, #createForm > input, #createForm > button{
    padding: 5px;
    margin: 10px; 
    border: 1px solid black;
    border-radius: 5px;
}
